@charset "utf-8";
/**
 * @名称：base.css
 * @功能：重设浏览器默认样式、设置通用原子类
 * @来源：在github上获取
 */

/* 防止用户自定义背景颜色对网页的影响，添加让用户可以自定义字体 */
html {
    background: white;
    color: black;
    /* 去掉手机点击背景色 */
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* 去掉默认的margin和padding */
html,
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
legend,
img,
pre,
code,
input,
select,
textarea,
blockquote,
th,
td,
hr,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    margin: 0;
    padding: 0;
}

/* 让标题适应多个系统应用 */
h1,
h2,
h3,
h4,
h5,
h6 {
    text-decoration: none;
    font-weight: normal;
    font-size: 100%;
}

/* 宋体，Unicode，统一码 */
body {
    font: 12px/150% Arial, Verdana, "\5b8b\4f53";
    color: #666;
    background: #fff
}

/* fieldset组合表单中的相关元素 */
fieldset,
img,
input,
button { 			
    border: none;
    padding: 0;
    margin: 0;
    outline-style: none;
}

/* 清除列表风格：li元素会继承 */
ul, 
ol {
    list-style: none;				
}
input {
    padding-top: 0;
    padding-bottom: 0;
    font-family: "SimSun", "宋体";
}
input,
select {
    vertical-align: middle;
}
input,
select,
textarea {
    font-size: 100%;
}
textarea {
    resize: none;
}

/* 防止多行文本框拖动 */
img {
    border: 0;
    /* 去掉图片低测默认的3像素空白缝隙 */
    vertical-align: middle;
}

/* 合并外边线 */
table {
    border-collapse: collapse;
    border-spacing: 0;
}
a {
    text-decoration: none;
}

/* 去除 ie6 & ie7 焦点点状线 */
a:focus,
*:focus {
    outline: none;
}

/* 对齐方式 */
caption,
th {
    text-align: left;
}

/* 格式化标签 */
strong,
ins,
em {				
    font-style: normal;
    text-decoration: none;
}
del {
    text-decoration: line-through;
}

/* 统一上标和下标 */
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup {
    top: -0.5em;
}
sub {
    bottom: -0.25em;
}
.clearfix:before,
.clearfix:after {
    /* 插入的内容：伪元素必写元素 */
    content: "";
    /* 表格显示类型：有助于清除浮动元素带来的布局问题 */
    display: table;
}
.clearfix:after {
    clear: both;
    visibility: hidden;
}
/* 兼容ie6、ie7 */
.clearfix {
    zoom: 1;
}
.clear {
    clear: both;
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    visibility: hidden;
}
/* 兼容ie */
iframe {
    display: block;
}
th {
    text-align: inherit;
}

/* 隐藏、显示元素 */
.hide {
    display: none;
}
.show {
    display: block;
}

/* 浮动 */
.fl {
    float: left
}

.fr {
    float: right
}